.clickable {
  cursor: pointer;
}

.language-picker-choices {
  background: white;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  padding: 0;
  position: absolute;
  right: 2rem;
  top: 70px;
  z-index: 999;
  box-shadow: 3px 3px 15px #ccc;
}

.language-list-item {
  display: flex;
  align-items: center;
  padding: 0.2rem 1rem;
}

.language-list-item:first-child {
  border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
}

.language-list-item:last-child {
  border-radius: 0 0 var(--bs-border-radius) var(--bs-border-radius);
}

.language-list-item:hover {
  background-color: var(--bs-gray-200);
}
.language-list-item.active {
  background-color: var(--bs-gray-400);
}

.language-list-item .flag {
  width: 24px;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 18px;
  background-size: cover;
}

.language-list-item-name {
  margin-left: 1rem;
}