#yourElement {
  position: relative;
}

#yourElement video,
#yourElement canvas.drawingBuffer {
  max-width: 90vw;
  max-height: 90vh;
}

#yourElement .drawingBuffer {
  position: absolute;
  left: 0;
  top: 0;
}