:root {
  --main-color: blue;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cards-container {
  max-width: 1200px;
  margin: auto;
  padding: 30px;
  padding-top: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
@media (max-width: 720px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

a[href] {
  text-decoration: none;
  color: inherit;
}

/* bootstrap buttons */
button.btn {
  width: max-content;
  border: none;
  border-radius: 30px;
  padding: 8px 12px;
  font-weight: 700;
  background-color: var(--main-color);
  height: max-content;
  align-self: flex-end;
}