:root {
  --main-color: blue;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cards-container {
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem;
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
@media (max-width: 960px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* bootstrap buttons */
button.btn {
  width: max-content;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem;
  font-weight: 700;
  background-color: var(--main-color);
  height: max-content;
  align-self: flex-end;
}

.developer-card {
  text-align: center;
  border-radius: 1rem;
  box-shadow: #000 0 0 4px;
  margin: 0 auto 1rem auto;
  padding: 1rem;
}

.mt-10px {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.pages-container {
  width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
}